@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    Font-size: 15px;
}
 
section {
        padding: 7rem 3rem;
}


section .container {
    padding: 20px 40px;
    /* max-width: 900px; */
    
}



section header h1 {
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 2px;
    color: hsl(234, 12%, 34%);
    text-align: center;
}

section header h2 {
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 10px;
    color: hsl(234, 12%, 34%);
    text-align: center;
}


section header p {
    font-size: 14px;
    color: hsl(229, 6%, 66%);
    text-align: center;
    margin-bottom: 40px;
}



section .display .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    min-height: 15rem;
    margin-bottom: 2.5rem;
    
}

section .display .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

section .display .card h4 {
    padding-bottom: 10px;
    color: hsl(234, 12%, 34%);
    font-size: 20px;
    
}
section .display .card p {
    font-size: 14px;
    line-height: 1.6rem;
    padding-bottom: 10px;
    color: hsl(229, 6%, 66%);
}

section .display span.img-container {
    display: inline-block;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

section .display span.img-container img {
    width: 100%;
}

section .display .card1 {
    border-top: 4px solid hsl(180, 62%, 55%);
}
section .display .card2 {
    border-top: 4px solid hsl(0, 78%, 62%);
}
section .display .card3 {
    border-top: 4px solid hsl(34, 97%, 64%);
}
section .display .card4 {
    border-top: 4px solid hsl(212, 86%, 64%);
}


@media screen and (min-width: 600px) {
    section header {
        max-width: 60%;
        margin: auto;
    }

    section .display {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    
    section .display .card h4 {
        margin-bottom: 0;
    }
    section .display .card h4 {
        margin-top: 1rem;
    }
}

/* @media screen and (min-width: 800px) {

    body {
      max-width: 115rem;
      margin: auto;
    }
  
    .wrapper {
      padding: 5.5rem 2rem;
    }
    
    .text-container {
      max-width: 45%;
      margin: auto;
    }
  
    .text-container h1 {
      font-size: 3.6rem;
    }
    .card {
      margin: 0;
      min-height: 25rem;
    }
  
    .card h2 {
      margin-top: 3.5rem;
    }
  
    .card .img-container {
      right: 32px;
      bottom: 32px;
    }
    .img-container img {
      width: 100%;
    }
  
    .card-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 3rem;
    }
  
    .supervisor,
    .calculator {
      grid-row: 1 / 3;
      align-self: center;
    }
  
    .karma {
      grid-column: 2;
    }
  
    .calculator {
      grid-column: 3;
    }
  } */

  @media screen and (min-width: 800px) {
      
    body {
        max-width: 115rem;
        margin: auto;
    }

    section header {
        max-width: 45%;
        margin: auto;
    }

    section header h1 {
        font-size: 40px;
        
    }
    section header h2 {
        font-size: 40px;
        
    }

    section .display .card {
        margin: 0;
        min-height: 19rem;
    }
    section .display .card h4 {
        font-size: 20px;
    }

    
    section .display span.img-container {
        right: 32px;
        bottom: 32px;
        /* margin-left: 250px; */
    }
    
    section .display span.img-container img {
        width: 100%;
    }

    section .display {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 3rem;
    }

    section .display .card1, .card4 {
        grid-row: 1 / 3;
        align-self: center;
    }
    
    section .display .card3 {
        grid-column: 2;
    }
    section .display .card4 {
        grid-column: 3;
    }
  }